<div class="container">

  <h2 class="pure-u-1 text-center my-5">بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ</h2>
  <h3 class="pure-u-1 text-center my-3">Calendar Generator for Prayers</h3>

  <h3>Application Description and Features</h3>
  <p>
    This application is a <b>free</b> standalone application used to generate a calendar invite containing the invites based on your location. We do not use any cookies, nor store the data entered by our users.
  </p>

  <p>
    You have the ability to configure the following items:
  </p>
  <ul>
    <li>Prayers to include in the invite</li>
    <li>Month and year of the prayer</li>
    <li>Minutes to start the meeting for before the prayer. (Ideal to make ablutions)</li>
    <li>Meeting duration</li>
    <li>Include or Not the Jumuaa Prayer</li>
    <li>Jumuaa Prayer duration</li>
  </ul>
  <p>
    Once the ICS is generated you have the option to copy the content of the file to your clipboard or to download the invite and open it using your preferred calendar.
  </p>


  <h3>Application Dependencies</h3>
  <p>
    This application uses API from <a href="https://aladhan.com/prayer-times-api">Athan</a> to generate the monthly prayers that are built into the ICS file.
  </p>


  <h3>Notice Something wrong?</h3>
  <p>
    Feel free to <a target="_blank" href="mailto:anass.1.abea@gmail.com">contact us</a> or create an <a target="_blank" href="https://github.com/Anass-ABEA/My-Prayer-Calendar/issues">issue on Github</a>. We'll make sure to fix it ASAP.
    Thank you for your help and support.
  </p>
</div>


<div class="container">
  <h3>Release Notes</h3>

  <h4># Version 1.1.0</h4>
  <ul>
    <li>Fixed bug related to the timezone handling in the calendar</li>
  </ul>
</div>